:root {
  --primary: #C70039;
  --secondary: #141E46;
  --white: #FDFCFA;
  --pink: #FFE3E3;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;800&family=Mooli&family=Poppins:wght@300;700&display=swap');


* {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;

}

#kerja-sama {
  background-color: #FDFCFA;
  height: 51vh;
  display: flex;
  align-items: center;
}

.kartu {
  padding: 2px; 
  height: 70px; 
  width: 180px; 
  box-shadow: 0px 0px 3px rgb(196, 195, 195); 
  border-radius: 15px;
}

.jumbotron {
  padding: 2rem 1rem;
  background-image: url("images/DTF.png");
  background-size: 585px;
  background-repeat: no-repeat;
  height: 525px;
}

.fontDTF p {
  color: #ffffff; 
  font-family: poppins;
}

.tebal-hr {
  color: #C70039;
  height: 5px;
  /* style="background-color: #FFE3E3;" */
}

.CompanyHelp {
  font-weight: 500;
}
.CompanyHelp p:nth-child(1){
  font-weight: bold;
  font-size: 20px;
}

.bayar-kirim img {
  background-color: white;
  border: black;
  /* padding: 6px 10px; */
  box-shadow: 1px 1px 2px rgb(152, 152, 152);
  border-radius: 5px;

}

.icon {

  display: flex;
  flex-direction: column;
}

.icon>span>a {
  background-color: #141E46;
  color: white;
  /* padding: 6px 8px; */
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  /* margin: 12px; */
  text-decoration: none;
  float: right;
}

.navbar {
  background-color: var(--primary);
}

.navbar a {
  text-decoration: none;
  color: white;
}

footer a {
  text-decoration: none;
  color: var(--secondary);
}

.btn-primary-pink {
  background-color: var(--primary);
  border: 1px solid white;
  color: white;
}

.btn-primary-pink:hover {
  border: 1px solid white;
  color: white;
}

.btn-secondary-black {
  background-color: var(--secondary);
  color: white;
}

.btn-secondary-black:hover {
  color: white;
  background-color: var(--secondary);
}

.btn-outline-secondary-black {
  border: 1px solid var(--secondary);
}

.btn-outline-secondary-black:hover {
  border: 1px solid var(--secondary);
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
<<<<<<< HEAD
}

.carousel-cell {
  width: 22%;
  height: 150px;
  margin-right: 15px;
  background: var(--primary);
  border-radius: 5px;
  counter-increment: carousel-cell;
  padding: 20px;
}

/* big previous & next buttons */
.flickity-prev-next-button {
  width: 30px !important;
  height: 30px !important;
=======
>>>>>>> 9afb5c33e345e6134a8aa513ffcc26ad55d562f3
}