:root {
  --primary: #C70039;
  --secondary: #141E46;
  --white: #FDFCFA;
  --pink: #FFE3E3;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;800&family=Mooli&family=Poppins:wght@300;700&display=swap');


* {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;

}

.navbar {
  background-color: var(--primary);
  padding: 1rem 40px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar a {
  text-decoration: none;
  color: white;
}



.btn-secondary-black {
  background-color: var(--secondary);
  color: white;
}

.btn-secondary-black:hover {
  color: white;
  background-color: var(--secondary);
}

.btn-icone .fa{
   
   margin-top: 12px;
margin-left: -30px;

}


.profile-img{
   border-radius: 99px;
  width: 36px;
    height: 36px;
 
}

.name-profile{
  color: var(--white);
    margin-top: 5px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {

    /* background: #144624; */
  height: 781px;
    margin-top: 160px;
 flex: 1;
 
    
}



.card{
    background: var(--white);
   width: 341px;
height: 681px;
 border-radius: 10px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.card-kotak{
    background: var(--primary);
  border-radius: 10px;
 height: 199px;
}

.profile-img-2{
   border-radius: 99px;
  width: 60px;
    height: 60px;
 margin-top: 12px;
 margin-left: 12px;
}


.name-profile-2{
  color: var(--white);
   margin-left: 90px;
   margin-top: -52px;
}
.name-profile-2 > p{
  margin: 0;
}

.saldo{
    margin-top: 23px;
    margin-left: 12px;
    color: var(--white);
    
}

.card-saldo{
    background: var(--white);
    width: 296px;
    height: 41px;
    border-radius: 10px;
    margin-left: 12px;
    
    
}

.card-saldo > p{
   color: #969696;
    margin-left: 12px;
position: absolute;
margin-top: 8px;

}


.texs-profile {
    margin-top: 40px;

    
}
.texs-profile  li{
  margin-bottom: 17px;
    
}
.texs-profile > ul {
    list-style: none;
    

}

.texs-profile >ul >li > a{
   text-decoration: none;
   color: #030303;
   font-weight: bold;
   
}

.texs-profile >ul >li > a:hover{
   color: var(--primary);
   transition: 1s;
   
}


.card-2{
    background: var(--white);
   width: 823px;

 border-radius: 10px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-top: -670px;
margin-left: 370px;
}
.card-2 >span{
    font-style: normal;
font-weight: 700;
   font-size: 23px;
  margin: 12px;
}
.card-kotak-2{
    background: var(--primary);
 height: 61px;
display: flex;
align-items: center;
justify-content: center;
}

    
.texs-profile-2 > ul {
    list-style: none;
    display: flex;
     gap: 90px;

    margin-top: 12px;

}

.texs-profile-2 >ul >li > a{
   text-decoration: none;
   color: #030303;
   font-weight: bold;
   
} .content {     
display: none;
}

.content.active {
display: block;
 }

.texs-profile-2 li a.active {
 color: white; /* Set warna ketika aktif */
}



.card-pembelian{
    /* background: #09c610; */
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
   
}

.container-card{
 
 margin-top: 190px;
  
   
}
.container-card > h3{
    font-size: 30px;
font-style: normal;
font-weight: 700;
   
}

.card-3 {
display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}

.card-kaos{
    background:var(--white);
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.10);
    width: 256px;
/* height: 357px; */
display: flex;
justify-content: center;
align-items: center;
margin: 20px;
flex-direction: column;

}

.img-kaos{
   width: 236px;
height: 230px;
/* background: #C70039; */
margin-top: 12px;
}

.tipe-kaos{
    /* position: absolute; */
  flex-wrap: wrap;
   display: flex;
   width: 100%;
    margin-left: 16px;
}
.tipe-tipe-kaos{
   margin: 2px;
   background: #FDFCFA;
   width: 50px;
height: 21px;
border-radius: 20px;
border: 1px solid #727272;
}
.tipe-tipe-kaos >p{
  color: #727272;
font-size: 10px;
font-style: normal;
font-weight: 400;
text-align: center;
margin-top: 3px;


}
.judul-kaos{
    width: 100%;
    margin-left: 16px;
       font-size: 18px;
font-style: normal;
font-weight: 500;
color: #030303;
}
.nama-brand{
    width: 100%;
    margin-left: 16px;
    font-size: 12px;
font-style: normal;
font-weight: 400;
}

.harga-kaos{
    width: 100%;
    margin-left: 16px; 
    font-size: 15px;
font-style: normal;
font-weight: 700;
}

.terjual{
    /* background: #C70039; */
   margin-top: -25px;
  margin-left: 190px;
  color: #686868;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
}

.judul-kaos p,
.nama-brand p,
.harga-kaos p,
.terjual p {
  margin: 2px;
}


  /* //foter */
.card-footer{
    background: var(--pink);
}

.tebal-hr {
color: #C70039;
  height: 5px;
  opacity: 1;
   margin-top: -1px;
   height: 5px;
}



.bayar-kirim img{
  background-color: white;
  border: black;
  /* padding: 6px 10px; */
  box-shadow: 1px 1px 2px rgb(152, 152, 152);
  border-radius: 5px;
  
}

.icon{

   display: flex;
flex-direction: column;
}
.icon >span>a {
  background-color: #141E46;
  color: white;
  font-family: montserrat;
  padding: 6px 8px;
  border-radius: 5px;
font-size: 18px;
font-weight: 500;
margin: 12px;
text-decoration: none;
  float: right;
}