:root {
  --primary: #C70039;
  --secondary: #141E46;
  --white: #FDFCFA;
  --pink: #FFE3E3;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700;800&family=Mooli&family=Poppins:wght@300;700&display=swap');


* {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;

}
/* navbar */
.btnSearch {
  font-size: 13px;
  color: #666;
  margin-right: 7px;
  margin-left: 7px;
}

.btnMasuk {
  font-weight: 500;
  font-size: 15px;
}
.btnMasuk:hover {
  font-weight: 500;
  font-size: 15px;
  color: white;
  background-color: #c70039;
}
.btnDaftar {
  background-color: #141e46;
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.btnDaftar:hover {
  background-color: #141e46;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.navbarDiva {
  font-size: 15px;
  color: white;
  text-decoration: none;
}
.navbarDiva:hover {
  color: #141e46;
  padding-top: 4px;
  transition: padding 0.5s;
  text-decoration: none;
}

.btnBuatSkrg {
  color: white;
  font-size: 15px;
  font-weight: 500;

  background-color: #141e46;
}

/* carousel */
.padCar {
  padding-left: 70px;
  padding-right: 70px;
}

.headCarS1 {
  font-weight: 800;
  font-size: 35px;
  color: #C70039;
}

.btnUnggah {
  color: #C70039;
  font-weight: 500;
  
  border-color: #C70039;
  border-width: 2px;
  background-color: white;
}

.skBerlaku {
  font-weight: 400;
  font-size: 15px;
}

.headCarS2_1 {
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.btnShopNow {
  border-color: transparent;
  background-color: white;
  color: #141e46;
  font-size: 18px;
  font-weight: 500;
}
.btnShopNow img {
  background-color: #141E46;
}

.carS2 {
  background-image: url("../../images/carousel 2.png");
  background-repeat: no-repeat;
  background-position: right;
}

.btnCar {
  background-color: white;
  border-radius: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  
}
/* branding bawah carousel */
.fontBranding1 {
  font-weight: bold;
  font-size: 15px;
  color: #141E46;
}
.fontBranding2 {
  font-size: 10px;
  color: #141E46;
}
/* kerja sama */
#kerja-sama {
  background-color: #FDFCFA;
  height: 51vh;
  display: flex;
  align-items: center;
}

.kartu {
  padding: 2px; 
  height: 70px; 
  width: 180px; 
  box-shadow: 0px 0px 3px rgb(196, 195, 195); 
  border-radius: 15px;
}
/* DTF */
.jumbotronDTF {
  padding: 2rem 1rem;
  background-image: url("../../images/DTF.png");
  background-size: 585px;
  background-repeat: no-repeat;
  height: 525px;
}

.fontDTF p {
  color: #ffffff; 
  font-family: "Poppins", sans-serif;
}
/* footer */
.tebal-hr {
  color: #C70039;
  height: 5px;
  opacity: 1;
}

.CompanyHelp {
  font-weight: 500;
}
.CompanyHelp p:nth-child(1){
  font-weight: bold;
  font-size: 20px;
}

.bayar-kirim img {
  background-color: white;
  border: black;
  box-shadow: 1px 1px 2px rgb(152, 152, 152);
  border-radius: 5px;

}

.icon {

  display: flex;
  flex-direction: column;
}

.icon>span>a {
  background-color: #141E46;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  float: right;
}

/* .navbar {
  background-color: var(--primary);
  padding: 1rem 40px;
} */


footer a {
  text-decoration: none;
  color: var(--secondary);
}

.btn-primary-pink {
  background-color: var(--primary);
  border: 1px solid white;
  color: white;
}

.btn-primary-pink:hover {
  border: 1px solid white;
  color: white;
}

.btn-secondary-black {
  background-color: var(--secondary);
  color: white;
}

.btn-secondary-black:hover {
  color: white;
  background-color: var(--secondary);
}

.btn-outline-secondary-black {
  border: 1px solid var(--secondary);
}

.btn-outline-secondary-black:hover {
  border: 1px solid var(--secondary);
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.carousel-cell {
  width: 22%;
  height: 150px;
  margin-right: 15px;
  background: var(--primary);
  border-radius: 5px;
  counter-increment: carousel-cell;
  padding: 20px;
}

/* big previous & next buttons */
.flickity-prev-next-button {
  width: 30px !important;
  height: 30px !important;
}

.category-product .rounded-pill-secondary{
  border: 1px solid var(--secondary);
  color: var(--white);
  background-color: var(--secondary);
  padding-right: 15px;
  padding-left: 15px;
}

.category-product .rounded-pill-outline-secondary{
  border: 1px solid var(--secondary);
  color: var(--secondary);
  padding-right: 15px;
  padding-left: 15px;
}

.element-item{
  width: 24.33%;
}

.product-item{
  position: relative;
}

